@import url(https://fonts.googleapis.com/css?family=Indie+Flower);



#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ff0086;
}
#ext_menu-0 .mbr-navbar__section {
  background: #ff0086;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-8 H3 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 19px;
  color: #ff0086;
}
#features1-7 .mbr-section__col .mbr-header__text {
  font-size: 20px;
  color: #000000;
}
#header3-a H3 {
  text-align: center;
  color: #ff0086;
  font-family: 'Indie Flower', cursive;
}
#features1-b P {
  text-align: center;
}
#features1-b .mbr-section__col .mbr-header__text {
  color: #252525;
}
#header3-c H3 {
  text-align: center;
  color: #ff0086;
  font-family: 'Indie Flower', cursive;
}
#features1-d P {
  text-align: center;
}
#features1-d .mbr-section__col .mbr-header__text DIV {
  font-size: 16px;
}
#header3-f H3 {
  color: #ff0086;
  text-align: center;
}
#header3-f P {
  text-align: center;
}
#content4-j P {
  text-align: center;
}
#ext_menu-k .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-k.mbr-navbar--stuck .mbr-navbar__section {
  background: #ff0086;
}
#ext_menu-k .mbr-navbar__section {
  background: #ff0086;
}
#ext_menu-k .mbr-navbar__hamburger {
  color: #ffffff;
}
#features1-n P {
  text-align: center;
}
#features1-n .mbr-section__col .mbr-header__text DIV {
  font-size: 16px;
}
#features1-m P {
  text-align: center;
}
#features1-o P {
  text-align: center;
}
#ext_menu-p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #ff0086;
}
#ext_menu-p .mbr-navbar__section {
  background: #ff0086;
}
#ext_menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#form1-r .mbr-header__text {
  color: #ff0086;
}

#ext_menu-s .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-s.mbr-navbar--stuck .mbr-navbar__section {
  background: #ff0086;
}
#ext_menu-s .mbr-navbar__section {
  background: #ff0086;
}
#ext_menu-s .mbr-navbar__hamburger {
  color: #ffffff;
}
#header3-u H3 {
  text-align: center;
  color: #ff0086;
  font-size: 30px;
}
#header3-u P {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 21px;
}
